{{#link-to "question" question.id}}
    <li class="questionTile">{{question.title}} asked by {{question.author}} {{moment-from-now question.date}} <span class="reviews">({{question.rating.length}} reviews)</span></li>
{{/link-to}}
