body{
    margin-top: 50px;
}
.star{
    cursor: pointer;
}
.starBox:hover .star{
    color: yellow;
    text-shadow: 0 0 1px grey;

}
.star:hover .star{
    color: yellow;
    text-shadow: 0 0 1px grey;
}
div .star:hover,
div .star:hover ~ .star  {
  color: black;
}
.lit{
  color: yellow;
  text-shadow: 0 0 1px grey;
}
.box{
  position: relative;
}
.well{
  background: white !important;
}
.wellHeader{
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  background: pink !important;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0 18px;
}
.wellHeader *{
  display: inline-block;
}
.postContent{
  margin: 58px auto 20px;

}

.postContent-content{
/*border-left: 1px solid black;*/
height: 100% !important;
}
.postContent-author{
    height: 100%;
    border-right: 1px solid black;
}
.avatar{
  max-height: 200px !important;
}
.wellFooter{
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  border-top: 1px solid black;
  width: 100%;
}
.wellFooter * {
  display: inline-block;
}
button.delete{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.well:hover button.delete{
    display: inline-block;
}
