body{
    margin-top: 50px;
}
.star{
    cursor: pointer;
}
.starBox:hover .star{
    color: yellow;
    text-shadow: 0 0 1px grey;

}
.star:hover .star{
    color: yellow;
    text-shadow: 0 0 1px grey;
}
div .star:hover,
div .star:hover ~ .star  {
  color: black;
}
.lit{
  color: yellow;
  text-shadow: 0 0 1px grey;
}
.box{
  position: relative;
}
.well{
  background: white !important;
}
.wellHeader{
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  background: pink !important;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0 18px;
}
.wellHeader *{
  display: inline-block;
}
.postContent{
  margin-top: 58px;
}
.postContent-content{
border-left: 1px solid black;}
