body{
    margin-top: 50px;
    background: rgba(212,239,236, 1);
}
.star{
    cursor: pointer;
}
.starBox:hover .star{
    color: yellow;
    text-shadow: 0 0 1px grey;

}
.star:hover .star{
    color: yellow;
    text-shadow: 0 0 1px grey;
}
div .star:hover,
div .star:hover ~ .star  {
  color: black;
}
.lit{
  color: yellow;
  text-shadow: 0 0 1px grey;
}
.box{
  position: relative;
  background: rgba(250,244,238, 1) !important;
}
.well{
  background: white;
}
.wellHeader{
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  background: rgba(84,95,94, 1);
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0 18px;
  color: white;
  font-weight: bold;
}
.wellHeader *{
  display: inline-block;
}
.postContent{
  margin: 58px auto 20px;

}

.postContent-content{
/*border-left: 1px solid black;*/
height: 100% !important;
}
.postContent-author{
    height: 100%;
    border-right: 1px solid black;
}
.avatar{
  max-height: 200px !important;
}
.wellFooter{
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  border-top: 1px solid black;
  width: 100%;
}
.wellFooter * {
  display: inline-block;
}
.modify{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.modify button, .modify div {
    display: inline-block !important;
    margin: 0!important;
}
.well:hover .modify{
    display: inline-block;
}

h1{
    font-family: 'Alfa Slab One', cursive;
    text-shadow:
    1px 1px 0px black,
    5px 1px 0px white,
    7px 1px 2px black,
    7px 1px 2px white;
    font-size: 4em !important;
}

h5, label, p, a, h3{
    font-family: 'Share Tech Mono', monospace;
}
a{
    color: inherit;
}
a:hover{
    text-decoration: none !important;
    color: inherit;
}
.well{
    border: 2px solid rgba(169,191,188, 1);
}
input.edit{
    background: rgba(250,244,238, 1) !important;
}
/*font-family: 'PT Sans Caption', sans-serif;*/
/*font-family: 'Roboto Mono', monospace;*/
/*font-family: 'Comfortaa', cursive;*/
/*font-family: 'Alfa Slab One', cursive;*/
/*font-family: 'Share Tech Mono', monospace;*/
li.questionTile:hover{
    text-shadow: 1px 1px  white;
}
li.questionTile:hover span{
    text-shadow: 1px 1px black;
}
span.reviews{
    color: white;
}
