<div class="col-sm-3">
    {{new-question postQuestion="postQuestion"}}

</div>
<div class="col-sm-8">
    {{#each model.questions as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}} 
    {{/each}}
</div>
