<div class="col-sm-3">


  {{sign-in signIn="signIn"}}

  {{#unless member.member}}
      {{new-member signUp="signUp" }}
  {{/unless}}
</div>
<div class="col-sm-3">
    {{new-question postQuestion="postQuestion"}}

</div>
<div class="col-sm-6">
  {{#each model.questions as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</div>
